/* Font Family */
@font-face {
	font-family: 'Roboto Regular';
	src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../font/Roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('../font/Roboto/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../font/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Playfair Regular';
	src: url('../font/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: 'Playfair Italic';
	src: url('../font/Playfair_Display/PlayfairDisplay-Italic.ttf');
}

@font-face {
	font-family: 'Playfair Medium';
	src: url('../font/Playfair_Display/PlayfairDisplay-Medium.ttf');
}

@font-face {
	font-family: 'Playfair Bold';
	src: url('../font/Playfair_Display/PlayfairDisplay-Bold.ttf');
}

/* Default */
html, body {
	font-family: 'Roboto Regular' !important;
}

a {
	color: #faad80;
}

a:hover {
	color: rgba(240, 126, 74, 1);
}

.gt-hr-color {
	border-color: rgba(240, 126, 74, 0.5);
}

.uk-lightbox-items > * > :not(iframe) {
	width: 400px;
}

.uk-lightbox {
	background: rgba(255, 255, 255, 0.5);
}

.uk-lightbox-toolbar {
	background: transparent;
}

.bg-orange {
	background: #FF6501;
}

.bg-bottom {
	background: url('../img/wallpaper/bg-gallery.png');
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 140px;
	/* height: 180px;
	width: 100%; */
}

.uk-button-text::before {
	border-bottom: 1px solid transparent !important;
}

/* Float Menu */
.uk-offcanvas-bar {
	background: linear-gradient(to top, rgba(240, 126, 74, 0), rgba(240, 126, 74, 1)), url('../img/wallpaper/bg-sidebar.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	border-radius: 0 30px 0 0;
	max-width: 250px;
}

.uk-offcanvas-bar.right {
	border-radius: 30px 0 0 0 !important;
}
/*Custom*/
.gt-article-2 {
	padding-right: 230px; min-height: 210px; position: relative;
}

.gt-article-2 .thumbnail {
	position: absolute; width: 210px; height: 210px; right: 0; top: 0; border-radius: 40px;
}

.gt-divider {
	border-color: rgba(240, 126, 74, 0.5);
	margin-bottom: 10px;
}

/* Container */
.gt-container {
	max-width: 1200px;
}

/* Logo */
.uk-logo {
	font-family: 'Playfair Medium';
}

.uk-logo img {
	height: 35px;
	width: auto;
}

.gt-logo-sidebar {
	margin-left: 25px;
	margin-top: 30px;
}

/* Sidebar Menu */
.gt-list-menu-sidebar-right li,
.gt-list-menu-sidebar li {
	padding-left: 25px;
	padding-right: 25px;
	font-family: 'Playfair Regular';
}

.gt-list-menu-sidebar-right li.uk-open,
.gt-list-menu-sidebar li.uk-open {
	background: #ffecdc;
	color: rgba(240, 126, 74, 1);
}

.gt-list-menu-sidebar-right li.uk-open a,
.gt-list-menu-sidebar li.uk-open a {
	color: rgba(240, 126, 74, 1) !important;
	font-family: 'Playfair Bold';
}

.gt-list-menu-sidebar-right li ul,
.gt-list-menu-sidebar li ul {
	padding-top: 0;
	padding-left: 0;
}

.gt-list-menu-sidebar-right li ul li,
.gt-list-menu-sidebar li ul li {
	padding-left: 0;
}

.gt-list-menu-sidebar-right li ul li a,
.gt-list-menu-sidebar li ul li a {
	font-family: 'Playfair Regular' !important;
}

/* Header Search */
.gt-header-search {
	background: #fafafa !important;
	border-color: #f6f6f6 !important;
	text-transform: lowercase;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 12px;
}

.gt-background-search {
	background: rgba(240, 126, 74, 0.25) !important;
	border-color: transparent !important;
	color: rgba(240, 126, 74, 1) !important;
}

.gt-color-icon,
.gt-background-search::placeholder {
	color: rgba(240, 126, 74, 1) !important;
}

/* Headline News */
.gt-wrap-headline-news {
	box-shadow: none;
	/* padding-bottom: 170px;
	padding-top: 80px;
	min-height: 350px; */
}

.gt-background-news {
	background-image: url('../img/wallpaper/headline-news.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	border-radius: 40px;
	box-shadow: none;
	padding-bottom: 170px;
	padding-top: 80px;
	min-height: 500px;
}

/* List Socmed */
.gt-list-socmed {
    margin-left: -30px;
	margin-top: 136px;
}

.gt-list-socmed li a {
	background: rgba(240, 126, 74, 1);
}

/* List News */
.gt-list-news {
	position: absolute;
	margin-left: -520px;
	min-height: 350px;
}

.gt-list-news .gt-item-news {
	border-radius: 40px;
	height: 350px;
	position: absolute;
	transition: all 0.3s linear;
	width: 350px;
}

.gt-list-news .gt-item-news.gt-item-active {
	margin-left: 0px;
	opacity: 1;
	z-index: 3;
}

.gt-list-news .gt-item-news.gt-item-second {
	margin-left: 30px;
	opacity: 0.75;
	z-index: 2;
}

.gt-list-news .gt-item-news.gt-item-third {
	margin-left: 60px;
	opacity: 0.5;
	z-index: 1;
}

.gt-prev-news {
	margin-left: -565px;
	/* margin-left: 20px; */
	/* margin-top: -18px; */
	opacity: 0.8;
	position: absolute;
	top: 270px;
	z-index: 4;
}

.gt-next-news {
	margin-left: -160px;
	/* margin-left: 60px; */
	/* margin-top: -18px; */
	opacity: 0.8;
	position: absolute;
	top: 270px;
	z-index: 4;
}

.gt-headline-description {
	margin-left: -2cm !important;
	margin-top: 50px;
}

.gt-the-newest {
	color: #ffffff;
	font-family: 'Playfair Bold';
	margin-bottom: 1cm !important;
}

a {
	text-decoration: none !important;
}

#gt-headline-title {
	color: #222222;
	font-family: 'Playfair Italic';
	font-size: 30px;
	line-height: 1.2;
	text-decoration: none !important;
}

/* List Menu */
.gt-list-menu li a {
	color: #444444;
	font-family: 'Playfair Regular';
	border-right: 1px solid rgba(240, 126, 74, 1);
	min-height: 30px;
}

.gt-list-menu li.uk-active a {
	color: rgba(240, 126, 74, 1) !important;
}

.gt-list-menu li:last-child a {
	border-color: transparent;
}

/* Thumbnail */
.uk-slider-container {
	/* padding-left: 100px; */
}

.gt-slider-thumbnail {
	padding: 80px 0 !important;
}

.gt-slider-thumbnail li img {
	border-radius: 40px;
	transition: all 0.3s;
	z-index: -1 !important;
}

.gt-slider-thumbnail li.gt-item-active img {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
	transform: scale(1.2, 1.2);
	position: relative;
	z-index: 99 !important;
}

.gt-prev-slider,
.gt-next-slider {
	background: rgba(240, 126, 74, 1);
	color: #ffffff !important;
	opacity: 0.8;
	transition: opacity 0.3s, color 0.3s;
}

.gt-prev-slider:hover,
.gt-next-slider:hover {
	color: #fafafa !important;
	opacity: 1;
}

.gt-dot-slider {
	position: absolute;
	margin-left: 50%;
	margin-top: -70px;
	float: right;
}

.gt-dot-slider li {
	cursor: pointer;
	background: #eaeaea;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	width: 10px;
	display: inline-block
}

.gt-dot-slider li.active {
	background: rgba(240, 126, 74, 1);
}

/* Subscribe */
.gt-wrap-subscribe {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 50%, rgba(240, 126, 74, 0.5));
	border-radius: 40px;
	box-shadow: none;
	padding: 100px 0 !important;
}

.gt-subscribe-title {
	color: #444444;
	font-family: 'Playfair Regular';
}

.gt-subscribe-form {
	/* margin-left: 25%; */
	margin-top: 20px;
}

.gt-subscribe-form input {
    background: rgba(240, 126, 74, 0.25) !important;
	border-color: transparent !important;
	color: rgba(240, 126, 74, 1) !important;
	text-transform: lowercase;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 12px;
}

.gt-subscribe-form input::placeholder {
    color: rgba(240, 126, 74, 1);
}

.gt-subscribe-form a {
	background: rgba(240, 126, 74, 1);
}

.gt-subscribe-form a:hover {
	color: #fafafa;
}

/* Menu Sidebar */
.gt-menu-sidebar {
	background: url('../img/wallpaper/bg-sidebar.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0 30px 0 0;
	max-width: 250px;
}

.gt-logo {
	font-family: 'Playfair Regular';
}

/* Menu Sidebar Right */
.gt-menu-sidebar-right {
	background: url('../img/wallpaper/bg-sidebar-right.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 30px 0 0 0px;
	max-width: 250px;
	right: 0;
}

.gt-item-menu {
	/* margin-right: 30px; */
	z-index: 99;
}

.gt-custom-search {
	display: none;
	margin-top: -30px;
	margin-left: 10px;
	position: absolute;
}

.gt-custom-search.single {
	margin-left: 50px;
	max-width: 120px;
}

.gt-custom-search input {
	max-width: 150px;
}

.gt-item-menu,
.gt-item-search,
.gt-item-menu:active,
.gt-item-search:active,
.gt-item-menu:focus,
.gt-item-search:focus {
	color: rgba(240, 126, 74, 1) !important;
}

.gt-item-menu:hover,
.gt-item-search:hover {
	color: rgba(0, 0, 0, 0.4) !important;
}

/* Article */
.gt-article-meta {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gt-article-meta li {
	font-family: 'Playfair Regular';
	color: #666666;
	margin-right: 15px;
	display: inline;
	text-transform: uppercase;
	font-size: 12px;
}

.gt-article-title {
	font-family: 'Playfair Italic';
}

.gt-article-thumbnail{
	text-align: right;
	/* background: red; */
}

.gt-article-thumbnail img {
	border-radius: 40px;
	transform: scale(1.1, 1.1);
}

/* Video */
.gt-card-video img {
	border-radius: 40px;
	transition: box-shadow 0.3s linear;
}

.gt-card-video:hover img {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.gt-card-video .uk-card-title {
	font-size: 16px;
}

.gt-decoration-none {
	text-decoration: none !important;
}

/* Gallery */
#wrapper-bottom {
	background: url('../img/wallpaper/bg-gallery3.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 100%;
	z-index: 99;
}

#gt-gallery {
	padding-bottom: 140px;
}

.gt-gallery-thumbnail .uk-inline-clip {
	border-radius: 20px;
}

.gt-gallery-category {
	max-height: 230px;
}

.gt-gallery-thumbnail img {
	border-radius: 20px;
	max-height: 180px !important;
	margin-top: 15px;
}

.gt-gsingle-title {
	font-size: 16px;
	margin-top: 8px !important;
}

/* Single */
.gt-single-title {
	font-family: 'Playfair Bold';
}

.gt-related-text {
	font-family: 'Playfair Regular';
}

.gt-related-img img {
	border-radius: 40px;
	/* transition: opacity 0.3s linear; */
}

.gt-float-thumbnail {
	margin-left: -110px;
	margin-top: 100px;
	height: 250px;
	width: 250px;
	position: absolute;
}

.gt-nav-float {
	margin-left: 255px;
	margin-top: 60px;
	position: absolute;
	display: block;
	z-index: 99;
}

.gt-nav-float li {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3) !important;
	border-radius: 50%;
	margin: 7px 3px;
	padding: 0;
	height: 10px;
	width: 10px;
}

.gt-nav-float li.uk-active {
	background: #ffffff !important;
}

.gt-nav-float li a {
	background: transparent !important;
}

.gt-nav-float li.active,
.gt-nav-float li:hover {
	background: #ffffff !important;
}

.gt-img-float li .uk-inline-clip {
	border-radius: 40px;
}

/* .gt-img-float li img {
	transform: scale(2, 2);
	transition: transform 0.3s;
}

.gt-img-float li.uk-active img {
	transform: scale(1, 1);
} */

.gt-img-float li img {
	border-radius: 40px;
	width: 300px;
}

/* Responsive */
@media screen and (min-device-width : 568px) and (max-device-width : 666px) and (orientation: landscape) {
    .gt-background-news {
    	padding-bottom: 40px;
    	padding-top: 40px;
    	min-height: 380px;
    }

    .gt-list-news {
		margin-left: -500px;
		min-height: 300px;
	}

	.gt-list-socmed {
	    margin-top: 84px;
	}

	.gt-list-news .gt-item-news {
		height: 300px;
		width: 300px;
	}

	.gt-prev-news {
		margin-left: -545px;
		top: 220px;
	}

	.gt-next-news {
		margin-left: -190px;
		top: 220px;
	}
}

@media screen and (min-device-width : 812px) and (max-device-width : 1279px) and (orientation: landscape) {
    .gt-background-news {
    	padding-bottom: 40px;
    	padding-top: 40px;
    	min-height: 440px;
    }

    .gt-list-news {
		margin-left: -530px;
		min-height: 400px !important;
	}

	.gt-list-socmed {
	    margin-top: 100px;
	}

	.gt-prev-news {
		margin-left: -578px;
		top: 240px;
	}

	.gt-next-news {
		margin-left: -170px;
		top: 240px;
	}
}

@media only screen and (max-width: 959px) {
	/* .gt-list-news {
		margin-left: -20px;
	}

	.gt-prev-news {
		margin-left: -65px;
	}

	.gt-next-news {
		margin-left: 240px;
	} */
	
	.gt-gallery-category {
	    max-height: none;
	    width: 65%;
	}
	
	.gt-gallery-thumbnail img {
    	margin-top: 0px;
    }

	.gt-float-thumbnail {
		margin-left: -120px;
		height: 200px;
		width: 200px;
	}

	.gt-nav-float {
		margin-left: 170px;
	}

	.gt-article-thumbnail img {
		max-height: 200px;
		transform: scale(1, 1);
	}


	#gt-headline-title {
		font-size: 24px;
		line-height: 1.4;
	}

	/* .gt-list-menu-sidebar li a {
		font-size: 10px;
	} */ 

	.gt-article-meta li {
		font-size: 10px;
		margin-right: 5px;
	}

	.gt-list-news {
		margin-left: -400px;
	}

	.gt-background-news {
		min-height: 100px;
	}

	.gt-list-news .gt-item-news {
		height: 300px;
		width: 300px;
	}

	.gt-prev-news {
		margin-left: -420px;
		top: 240px;
	}

	.gt-next-news {
		margin-left: -120px;
		top: 240px;
	}
}

@media only screen and (max-width: 787px) {
	.gt-slider-thumbnail {
		padding: 50px 0 !important;
	}

	.gt-slider-thumbnail li.gt-item-active img {
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
	}

	.gt-dot-slider {
		margin-top: -45px;
	}

	.gt-wrap-subscribe {
		background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 50%, rgba(240, 126, 74, 0.5));
	}

	.gt-background-news {
		padding-top: 50px;
		padding-bottom: 80px;
	}

	.gt-list-socmed {
	    margin-top: 65px;
	}

	.gt-list-news {
		margin-left: -350px;
		min-height: 250px;
	}

	.gt-list-news .gt-item-news {
		height: 250px;
		width: 250px;
	}

	.gt-prev-news {
		margin-left: -368px;
		top: 215px;
	}

	.gt-next-news {
		margin-left: -118px;
		top: 215px;
	}

	.gt-list-menu li a {
		font-size: 12px;
	}
}

@media only screen and (max-width: 639px) {
	/* .gt-list-menu-sidebar li a {
		font-size: 12px;
	} */ 
}